ul{
	list-style: none;
	margin: 0;
	padding: 0
}
li{
	margin: 0;
	padding: 0
}

body{
	background-color: #fef1ff;
}

.wrapper{
	padding: 40px;
}

.container{
	max-width:1280px;
	margin: 0 auto;
}

.header{
	text-align: center;
}

h1{
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 10px;
	color: #515151;
}

h3{
	margin: 0;
}

.todo-list {
}

.todo-list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #c4d5e1;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #caeeff;
}

.todo-list__item-number {
	font-size: 1.5rem;
}

.todo-list__item-text {
	display: flex;
	flex-direction: column;
}

.todo-list__item-title {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 10px;
	color: #515151;
}

.todo-list__item-desc {
	font-size: 1rem;
	color: #707070
}

.todo-list__item-btns {
	display: flex;
}

.todo-list__item-btn {
	margin-right: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #b0b0b0;
	background-color: #d7d7d7;
}

.todo-list__item-btn:last-child {
	margin-right: 0;
}

.todo-list__item-complited {
}

.todo-list__item-edit {
}

.todo-list__item-remove {
}
