<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Site</title>
	<meta charset="utf=8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="">
</head>

<body>
	<header>
		<div class="container">
			<div class="header">
				<h1>Todo list</h1>
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="container">

			<main>
				<section>
					<ul class="todo-list">
						<li class="todo-list__item">
							<div class="todo-list__item-number">1</div>
							<div class="todo-list__item-text">
								<h3 class="todo-list__item-title">Вскипятить чайник</h3>
								<div class="todo-list__item-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
									Illo,
									consequatur.</div>
							</div>
							<div class="todo-list__item-btns">
								<a href="#" class="todo-list__item-btn todo-list__item-complited">Ok</a>
								<a href="#" class="todo-list__item-btn todo-list__item-edit">Edit</a>
								<a href="#" class="todo-list__item-btn todo-list__item-remove">Delete</a>
							</div>
						</li>
						<li class="todo-list__item">
							<div class="todo-list__item-number">2</div>
							<div class="todo-list__item-text">
								<h3 class="todo-list__item-title">Вскипятить чайник</h3>
								<div class="todo-list__item-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
									Illo,
									consequatur.</div>
							</div>
							<div class="todo-list__item-btns">
								<a href="#" class="todo-list__item-btn todo-list__item-complited">Ok</a>
								<a href="#" class="todo-list__item-btn todo-list__item-edit">Edit</a>
								<a href="#" class="todo-list__item-btn todo-list__item-remove">Delete</a>
							</div>
						</li>
						<li class="todo-list__item">
							<div class="todo-list__item-number">3</div>
							<div class="todo-list__item-text">
								<h3 class="todo-list__item-title">Вскипятить чайник</h3>
								<div class="todo-list__item-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
									Illo,
									consequatur.</div>
							</div>
							<div class="todo-list__item-btns">
								<a href="#" class="todo-list__item-btn todo-list__item-complited">Ok</a>
								<a href="#" class="todo-list__item-btn todo-list__item-edit">Edit</a>
								<a href="#" class="todo-list__item-btn todo-list__item-remove">Delete</a>
							</div>
						</li>
						<li class="todo-list__item">
							<div class="todo-list__item-number">4</div>
							<div class="todo-list__item-text">
								<h3 class="todo-list__item-title">Вскипятить чайник</h3>
								<div class="todo-list__item-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
									Illo,
									consequatur.</div>
							</div>
							<div class="todo-list__item-btns">
								<a href="#" class="todo-list__item-btn todo-list__item-complited">Ok</a>
								<a href="#" class="todo-list__item-btn todo-list__item-edit">Edit</a>
								<a href="#" class="todo-list__item-btn todo-list__item-remove">Delete</a>
							</div>
						</li>
					</ul>
				</section>
			</main>

		</div>
	</div>
	<footer>
		<div class="container">
			<div class="footer__timer">19:00</div>
		</div>
	</footer>
</body>

</html>